@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp8210019.jpg");
    background-size: 100vw 150vh;
    padding: 2%;
}

.menu {
    background-color: red;
    width: 40%;
    margin: 0 auto;
    font-size: 1rem;
    padding: 1%;
}

h1 {
    font-family: "Oswald", serif;
    font-weight: 900;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: "Oswald", sefi;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin: 1% auto 0.5% auto;
}

p {
    font-size: 1em;
    text-align: center;
    padding: 1%;
}

.est {
    margin: 0.5% auto -1% auto;
}

hr {
    margin: 3% auto;
    border:2px solid rgba(67, 3, 3, 0.64);
}

.item p {
    display: inline-block;
}

.flavor, .desserts {
    text-align: left;
    width: 80%;
}

.price {
    text-align: right;
    width: 20%;
}

a {
    color: black;
}

a:hover {
    color: rgba(67, 3, 3, 0.64);
}

a:active {
    color: rgba(67, 3, 3, 0.64);
}

a:visited {
    color: black;
}

img {
    display: block;
    margin: 0 auto;
}

.address {
    margin-bottom: 0;
}