* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 210, 210);
}

header {
    background-color: rgb(0, 0, 34);
    color: white;
    padding: 32px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    border-bottom: 5px solid rgb(255, 153, 0);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px 5px 10px;
}

main::after {
    content: "";
    width: 350px;
}

img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

img:hover {
    box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.7);
}