@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    margin: 25px auto;
    width: 300px;
    border: 3px solid black;
    padding: 2px 5px 2px;
    font-family: "Roboto", snans-serif;
}

header {

    & > h1 {
        font-size: 1.8em;
        font-weight: 900;
        text-align: center;
    }
}

.bold {
    font-weight: 700;
}

.right {
    display: flex;
    justify-content: space-between;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.divider {
    border-bottom: 1px solid #000;
    margin: 3px 0px;
}

.large {
    background-color: #000;
    height: 10px;
}

.medium {
    background-color: #000;
    height: 5px;
    margin: 3px 0px;
}

.calories {
    font-size: 2em;
    margin: -2px 0px -4px 0px;
}

.calories-data > p:not(.no-divider) {
    border-bottom: 1px solid #000;
}

.extra-nutrients > p:not(.no-divider) {
    border-bottom: 1px solid #000;
}

.indent {
    margin-left: 13px;
}

.twoXindent {
    margin-left: 27px;
}

.note {
    font-size: 0.7rem;
    margin: 10px;
    text-indent: -8.6px;
}